<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="App para subida de images en amazon S3 con nodejs - hecho por Deyvis Mariños">
<title>
    <%-title %>
</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css">
<link rel="stylesheet" href="main.css">